.masonry-post{

  display: block;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  height: 100%;
  text-decoration: none ;
  margin: 0 auto;
  width: 100%;
}