@import "variables";
@import "navigation";
@import "masonry-post";
@import "post-masonry";
@import "home";
@import "tag-row";
@import "post-grid";
body{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  margin:0;
  background-color: $background;
}
h1{
  font-size: 2rem;
}
.container{
  max-width: 120px;
  display: flex;
}
.row{
  margin: 4rem 20px;
}
.overlay::before{
  z-index: 1;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg,transparent 0%,transparent 18%,rgba(0,0,0,0.8) 99%, rgba(0,0,0,0.8) 100% )

}